[Service]

User=rocky

WorkingDirectory=/opt/reactspr/prod/backend/ticket-backend

ExecStart=/bin/bash /opt/reactspr/prod/backend/ticket-backend/gradlew bootRun

SuccessExitStatus=143

Restart=always

RestartSec=5s

StandardOutput=journal

StandardError=journal

[Install]

WantedBy=multi-user.target

